/* Common Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Baloo Da 2", cursive;
}

html {
  font-size: 62.5%;
}
/* End of Common Styles */

/* Section 1 */
.section-1 {
  width: 100%;
  height: 65vh;
  background: linear-gradient(
      to top,
      rgba(38, 38, 38, 0.7),
      rgba(38, 38, 38, 0.6)
    ),
    url(images/bg.jpg) center no-repeat;
  background-size: cover;
}

.navbar-wrapper {
  width: 100%;
  height: 8rem;
  border-bottom: 0.1rem solid #aaa;
  display: flex;
  justify-content: center;
}

.navbar {
  width: 120rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 3.5rem;
  font-style: italic;
  font-weight: 800;
  color: #fff;
  position: relative;
}

.p-1 {
  font-size: 4.5rem;
  margin-right: 1rem;
  position: relative;
  z-index: 10;
}

.p-2 {
  font-size: 4.5rem;
  color: #bbb;
  position: absolute;
  top: 0.4rem;
  left: 0.5rem;
}

.nav-list {
  display: flex;
}

.nav-list-item {
  height: 8rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  transition: border-bottom 0.1s;
}

.nav-list-item:hover {
  border-bottom: 0.2rem solid #fff;
}

.nav-list-link {
  width: 100%;
  height: 100%;
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  align-items: center;
}

.nav-list-link i {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  transition: transform 0.3s;
}

.nav-list-item:hover .nav-list-link i {
  transform: rotateZ(180deg);
}

.navbar-btn {
  width: 8rem;
  padding: 0.7rem;
  margin: 0.3rem;
  border-radius: 3rem;
  border: 0.1rem solid #fff;
  font-size: 1.4rem;
  cursor: pointer;
}

.navbar-btn:nth-child(1) {
  background-color: transparent;
  color: #fff;
}

.navbar-btn:nth-child(2) {
  background-color: #fff;
  color: #262626;
}
/* End of Section 1 */
